
$cherryRed: #d44865;
$mango: #f7a67b;
$mobileNavTransition: 0.5s;

body {
	font-family: "Open Sans", sans-serif;
	h1, h2, h3, h4, h5, h6, p {
		font-family: "Open Sans", sans-serif;
	}
}

header {
	padding: 10px 10px;
	text-align: center;
	h1 {
		font-family: 'Parisienne', cursive;
	}
}

main {
	padding: 0 6px;
}

.slick-carousel {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.slick-item {
	max-height: 55vh;
	margin: 0 5px;
	&:focus, &:active {
		outline: none;
	}
	img {
		max-height: inherit;
		margin: 0 auto;
	}
}

.slick-arrow {
	display: none !important;
	&:before {
		color: #003763;
	}
}

.top-bar {
	background-color: $cherryRed;
	transition: $mobileNavTransition;
	.dropdown {
		background-color: $cherryRed;
	}
	&.expanded .logo {
		width: 70px;
		transition: $mobileNavTransition;
	}
	&.expanded {
		height: 185px;
		transition: $mobileNavTransition;
		// TODO https://sarasoueidan.com/blog/navicon-transformicons/ 
		.toggle-topbar a span:after {
			transform: rotateZ(90deg);
  		 	left: 25px;
  		 	top: 25px;
  		 	transition: $mobileNavTransition;
  		 	box-shadow: 0 0 0 1px #FFFFFF, 0 7px 0 1px #FFFFFF, 0 14px 0 1px #FFFFFF;
  		 	-webkit-box-shadow: 0 0 0 1px #FFFFFF, 0 7px 0 1px #FFFFFF, 0 14px 0 1px #FFFFFF;
		}	
	}
	&.fixed {
		position: fixed;
	}
}

.top-bar-section {
	li {
		&:hover, &:focus, &:active {
			background-color: $mango;
		}
	}
}

.logo {
	position: fixed;
	width: 65px;
	transition: $mobileNavTransition;
}

.grid {
	position: relative;
	list-style: none;
	margin-left: 0;
}
.grid-item {
	width: 100%;
	margin-bottom: 5px;
	margin: 0 !important;
	.grid-item-padding {
		padding: 0 2px;
		margin-bottom: 4px;
	}
}

.carousel {
	.th {
		border: solid 2px $cherryRed;
		margin-bottom: 2px;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
#jc-main-gallery {
	clear: both;
}

.full-button-wrapper {
	width: 100%;
	text-align: center;
}
.gallery-button {
	background-color: $cherryRed;
	color: #fff;
	line-height: 0.25;
	padding: 1rem 1.25rem;
	font-weight: bold;
	border: 2px solid #fff;
	&:hover, &:focus, &:hover, &:focus {
		background-color: $mango;
		color: #fff;
		border-color: $cherryRed;
	}
}

#fancybox-thumbs {
	visibility: hidden;
}

.fancybox-nav {
	//visibility: hidden;
	//position: fixed;
	&:hover {
		background-color: rgba(255, 255, 255, 0.3);
	}
}

.dropdown .title, .dropdown .parent-link {
	&, a {
		font-weight: bold !important;
	}
}
@media only screen and (min-width: 40.0625em) {
	.fancybox-nav {
		visibility: visible;
		position: absolute;
	}
	.slick-arrow {
		display: inline-block !important;
	}
	.logo {
		position: initial;
		width: 100px;
	}
	.visible-img img {
		max-height: 100%;
	}
	.grid-item, .grid-sizer {
		width: calc(50%);
	}
}

@media only screen and (min-width: 64.0625em) {
	.grid-item, .grid-sizer {
		width: calc(33.333%);
	}
	.fancybox-nav {
		width: 30%;
	}
}

@media only screen and (min-width: 90.063em) {
	.grid-item, .grid-sizer {
		width: calc(25%);
	}
}
@media only screen and (min-height: 33.75em) {
	#fancybox-thumbs {
		visibility: visible;
	}
}