<!-- About Page -->
<div class="row">
	<!-- Carousel -->
	<section class="slick-carousel">
	    <div class="slick-item">
	      	<img src="photographs/home/img (1).JPG">
	    </div>
	    <div class="slick-item">
	      	<img src="photographs/home/img (4).JPG">
	    </div>
	    <div class="slick-item">
	      	<img src="photographs/home/img (2).JPG">
	    </div>
	    <div class="slick-item">
	      	<img src="photographs/home/img (3).JPG">
	    </div>
	    <div class="slick-item">
	      	<img src="photographs/home/img (4).JPG">
	    </div>
	</section>
	<div class="full-button-wrapper">
	<a href="#/home" class="smoothAnchor button round gallery-button">Click Here for Home</a>
	</div>
	<section id="jc-bio" class="small-12 columns">
		<h3>What he does</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<h3>Who he is</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<h3>Who he is</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</section>
</div>