<!-- Front Page Gallery -->
<ul class="clearing-thumbs grid" data-masonry data-clearing>
	<li class="grid-item">
  		<a class="" href="./demo_images/wedding_portrait.jpg">
  			<img src="./demo_images/wedding_portrait.jpg">
  		</a>
  	</li>
  	<li class="grid-item">
  		<a class="" href="./demo_images/wedding_portrait_3.jpg">
  			<img src="./demo_images/wedding_portrait_3.jpg">
  		</a>
  	</li>
  	<li class="grid-item">
  		<a class="" href="./demo_images/wedding_portrait_4.jpg">
  			<img src="./demo_images/wedding_portrait_4.jpg">
  		</a>
  	</li>
  	<li class="grid-item">
  		<a class="" href="./demo_images/wedding_portrait_5.jpg">
  			<img src="./demo_images/wedding_portrait_5.jpg">
  		</a>
  	</li>
  	<li class="grid-item">
  		<a class="" href="./demo_images/wedding_portrait_6.jpg">
  			<img src="./demo_images/wedding_portrait_6.jpg">
  		</a>
  	</li>
  	<li class="grid-item">
  		<a class="" href="./demo_images/wedding_portrait_7.jpg">
  			<img src="./demo_images/wedding_portrait_7.jpg">
  		</a>
  	</li>
  	<li class="grid-item">
  		<a class="" href="./demo_images/wedding_portrait_8.jpg">
  			<img src="./demo_images/wedding_portrait_8.jpg">
  		</a>
  	</li>
  	<li class="grid-item">
  		<a class="" href="./demo_images/wedding_portrait_9.jpg">
  			<img src="./demo_images/wedding_portrait_9.jpg">
  		</a>
  	</li>
  	<li class="grid-item">
  		<a class="" href="./demo_images/wedding_portrait_5.jpg">
  			<img src="./demo_images/wedding_portrait_5.jpg">
  		</a>
  	</li>
  	<li class="grid-item">
  		<a class="" href="./demo_images/wedding_portrait_6.jpg">
  			<img src="./demo_images/wedding_portrait_6.jpg">
  		</a>
  	</li>
  	<li class="grid-item">
  		<a class="" href="./demo_images/wedding_portrait.jpg">
  			<img src="./demo_images/wedding_portrait.jpg">
  		</a>
  	</li>
  	<li class="grid-item">
  		<a class="" href="./demo_images/wedding_portrait_3.jpg">
  			<img src="./demo_images/wedding_portrait_3.jpg">
  		</a>
  	</li>
  	<li class="grid-item">
  		<a class="" href="./demo_images/wedding_portrait_4.jpg">
  			<img src="./demo_images/wedding_portrait_4.jpg">
  		</a>
  	</li>
  	<li class="grid-item">
  		<a class="" href="./demo_images/wedding_portrait_5.jpg">
  			<img src="./demo_images/wedding_portrait_5.jpg">
  		</a>
  	</li>
</div>
