<section id="jc-main-gallery">
	<ul class="clearing-thumbs jc-gallery" data-clearing>
	  	<li>
	  		<a class="th" href="./demo_images/wedding_portrait.jpg">
	  			<img src="./demo_images/wedding_portrait.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a class="th" href="./demo_images/wedding_portrait_3.jpg">
	  			<img src="./demo_images/wedding_portrait_3.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a class="th" href="./demo_images/wedding_portrait_4.jpg">
	  			<img src="./demo_images/wedding_portrait_4.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a class="th" href="./demo_images/wedding_portrait_5.jpg">
	  			<img src="./demo_images/wedding_portrait_5.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a class="th" href="./demo_images/wedding_portrait_6.jpg">
	  			<img src="./demo_images/wedding_portrait_6.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a class="th" href="./demo_images/wedding_portrait_7.jpg">
	  			<img src="./demo_images/wedding_portrait_7.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a class="th" href="./demo_images/wedding_portrait_8.jpg">
	  			<img src="./demo_images/wedding_portrait_8.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a class="th" href="./demo_images/wedding_portrait_9.jpg">
	  			<img src="./demo_images/wedding_portrait_9.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a class="th" href="./demo_images/wedding_portrait_2.jpg">
	  			<img src="./demo_images/wedding_portrait_2.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a class="th" href="./demo_images/wedding_portrait_3.jpg">
	  			<img src="./demo_images/wedding_portrait_3.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a class="th" href="./demo_images/wedding_portrait_4.jpg">
	  			<img src="./demo_images/wedding_portrait_4.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a class="th" href="./demo_images/bridge.jpg">
	  			<img src="./demo_images/bridge.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a class="th" href="./demo_images/lion.jpg">
	  			<img src="./demo_images/lion.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a class="th" href="./demo_images/glasses.jpg">
	  			<img src="./demo_images/glasses.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a class="th" href="./demo_images/wedding_portrait_6.jpg">
	  			<img src="./demo_images/wedding_portrait_6.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a class="th" href="./demo_images/wedding_portrait_7.jpg">
	  			<img src="./demo_images/wedding_portrait_7.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a class="th" href="./demo_images/wedding_portrait_8.jpg">
	  			<img src="./demo_images/wedding_portrait_8.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a class="th" href="./demo_images/wedding_portrait_9.jpg">
	  			<img src="./demo_images/wedding_portrait_9.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a class="th" href="./demo_images/wedding_portrait_9.jpg">
	  			<img src="./demo_images/wedding_portrait_9.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a class="th" href="./demo_images/wedding_portrait_2.jpg">
	  			<img src="./demo_images/wedding_portrait_2.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a class="th" href="./demo_images/wedding_portrait_7.jpg">
	  			<img src="./demo_images/wedding_portrait_7.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a class="th" href="./demo_images/wedding_portrait_8.jpg">
	  			<img src="./demo_images/wedding_portrait_8.jpg">
	  		</a>
	  	</li>
	  	
	  	<li>
	  		<a class="th" href="./demo_images/wedding_portrait_3.jpg">
	  			<img src="./demo_images/wedding_portrait_3.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a class="th" href="./demo_images/wedding_portrait_4.jpg">
	  			<img src="./demo_images/wedding_portrait_4.jpg">
	  		</a>
	  	</li>

	</ul>
</section>
