header {
	padding: 10px 10px;
	text-align: center;
}

main {
	padding: 0 10px;
}

.slick-carousel {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.slick-item {
	/*padding: 0 100px;*/
	max-height: 350px;
	margin: 0 5px;
}

.slick-item:focus, .slick-item:active {
	outline: none;
}

.slick-item img {
	max-height: inherit;
	margin: 0 auto;
}

.slick-arrow {
	display: none !important;
}

.slick-arrow:before {
	color: #003763;
}

@media only screen and (min-width: 640px) {
	.slick-arrow {
		display: inline-block !important;
	}
}