<div class="row">
<div class="small-12 columns">
	<div class="text-section">
		<h3>Who We Are</h3>
		<p>(Will be updated with a more general bio of the ultimate teams as a whole) Trudge is RPI's one and only men's ultimate team. We have been around since sometime before 1975, right around the time ultimate was just a little baby. Its now 2014 and, according to dog years, ultimate is a teenager. Join us in helping ultimate enjoy "the best years of its life" and maybe you'll have a chance to re-live your youth while you're at it.</p>
		<p>We are constantly searching for athletic people to play some competitive ultimate on our A and B teams. If you don't know what ultimate is all about, come out to some of the <a href="">practices</a>. We travel all around the Capital District and attend weekend tournaments throughout the Northeast to compete with other colleges such as Clarkson, Binghamtom, Albany, Union, Ithaca, and Geneseo, just to name a few. Check out our <a href="">schedule</a> for upcoming tournaments, so you don't miss out on any of our goodness.
		</p>
	</div>
</div>
</div>