<div class="row strut-home-view">
<div class="small-12">
	<div class="text-center">
	<img src="images/strut-team.jpg">
	</div>
	<div class="text-section">
		<h3>Who We Are</h3>
		<p>We are Rensselaer Polytechnic Institute’s Women’s Ultimate Frisbee team. We are a hard working group of young ladies who exercise and socialize together to create a bond that is like family. Strut is always interested in finding new players to be a part of this great community.</p>
		<p>If you have any questions about the team, feel free to contact any of the officers listed on the contact page.</p>
	</div>
</div>
</div>
