<div class="row strut-home-view">
<div class="small-12">
	<div class="text-section">
		<h3>Rules</h3>
		<p>Strategically like soccer, athletically like basketball, technically like football, but spiritually like no other sport, ultimate pushes players to their limits in often brutal competition for the disc.</p>
		<p>Two teams of seven players compete to catch the disc in the other team’s endzone. If they succeed, they score a point, and play stops. The team that has possession of the disc must throw the disc from player to player, as the player holding the disc may not move. If the disc is dropped or knocked down, the other team may pick up the disc and make their own attempt to score.</p>

		<h5>Ultimate in Ten Simple Rules</h5>
		<ol>
			<li>The Field — A rectangular shape with endzones at each end. A regulation field is 70 yards by 40 yards, with endzones 25 yards deep.</li>
			<li>Initiate Play — Each point begins with both teams lining up on the front of their respective endzone line. The defense throws (“pulls”) the disc to the offense. A regulation game has seven players per team.</li>
			<li>Scoring — Each time the offense completes a pass in the defense’s endzone, the offense scores a point. Play is initiated after each score.</li>
			<li>Movement of the Disc — The disc may be advanced in any direction by completing a pass to a teammate. Players may not run with the disc. The person with the disc (“thrower”) has ten seconds to throw the disc. The defender guarding the thrower (“marker”) counts out the stall count.</li>
			<li>Change of possession — When a pass in not completed (e.g. out of bounds, drop, block, interception), the defense immediately takes possession of the disc and becomes the offense.</li>
			<li>Substitutions — Players not in the game may replace players in the game after a score and during an injury timeout.</li>
			<li>Non-contact — No physical contact is allowed between players. Picks and screens are also prohibited. A foul occurs when contact is made.</li>
			<li>Fouls — When a player initiates contact on another player a foul occurs. When a foul disrupts possession, the play resumes as if the possession was retained. If the player committing the foul disagrees with the foul call, the play is redone.</li>
			<li>Self-Refereeing — Players are responsible for their own foul and line calls. Players resolve their own disputes.</li>
			<li>Spirit of the Game — Ultimate stresses sportsmanship and fair play. Competitive play is encouraged, but never at the expense of respect between players, adherence to the rules, and the basic joy of play.</li>
		</ol>
		<p>The complete, official rules (11th Edition) are available online at the Ultimate Players Association.</p>
		<h5>Glossary</h5>
		<p>Some handy words to know.</p>
		<br/>
		<p><strong>BACKHAND</strong> To throw the disc from the left side of the body for right handed players (or from the right for left handed players). The motion is similar in some respects to the backhand in tennis. (Like the ‘standard’ throw that non-Ultimate players may be used to).</p>
		<p><strong>BREAK</strong> (side, pass or cut) The side to which the marker is trying to prevent the throw (or a pass/cut to this side).</p>
		<p><strong>CLEARING</strong> To get out of the area where the thrower wants to pass the disc. Absolutely necessary after making an unsuccessful cut or after throwing the pass. The importance of this is often underplayed to beginners.</p>
		<p><strong>BACKHAND</strong> To throw the disc from the left side of the body for right handed players (or from the right for left handed players). The motion is similar in some respects to the backhand in tennis. (Like the ‘standard’ throw that non-Ultimate players may be used to).</p>
		<p><strong>BREAK</strong> (side, pass or cut) The side to which the marker is trying to prevent the throw (or a pass/cut to this side).</p>
		<p><strong>CLEARING</strong> To get out of the area where the thrower wants to pass the disc. Absolutely necessary after making an unsuccessful cut or after throwing the pass. The importance of this is often underplayed to beginners.</p>
		<p><strong>BACKHAND</strong> To throw the disc from the left side of the body for right handed players (or from the right for left handed players). The motion is similar in some respects to the backhand in tennis. (Like the ‘standard’ throw that non-Ultimate players may be used to).</p>
		<p><strong>BREAK</strong> (side, pass or cut) The side to which the marker is trying to prevent the throw (or a pass/cut to this side).</p>
		<p><strong>CLEARING</strong> To get out of the area where the thrower wants to pass the disc. Absolutely necessary after making an unsuccessful cut or after throwing the pass. The importance of this is often underplayed to beginners.</p>
		<p><strong>BACKHAND</strong> To throw the disc from the left side of the body for right handed players (or from the right for left handed players). The motion is similar in some respects to the backhand in tennis. (Like the ‘standard’ throw that non-Ultimate players may be used to).</p>
		<p><strong>BREAK</strong> (side, pass or cut) The side to which the marker is trying to prevent the throw (or a pass/cut to this side).</p>
		<p><strong>CLEARING</strong> To get out of the area where the thrower wants to pass the disc. Absolutely necessary after making an unsuccessful cut or after throwing the pass. The importance of this is often underplayed to beginners.</p>
		<p><strong>BACKHAND</strong> To throw the disc from the left side of the body for right handed players (or from the right for left handed players). The motion is similar in some respects to the backhand in tennis. (Like the ‘standard’ throw that non-Ultimate players may be used to).</p>
		<p><strong>BREAK</strong> (side, pass or cut) The side to which the marker is trying to prevent the throw (or a pass/cut to this side).</p>
		<p><strong>CLEARING</strong> To get out of the area where the thrower wants to pass the disc. Absolutely necessary after making an unsuccessful cut or after throwing the pass. The importance of this is often underplayed to beginners.</p>

	</div>
</div>
</div>
