<div class="row">
<div class="small-12 columns">

	<h2>The Witch's Teat</h2>
	<p>When you combine an old lady, magic powers, and lots of potions, it can only mean one thing. That's right, its the Witch's Teat, RPI's annual tournament extravaganza. Each year, teams will come together in October to vie for the honor of tasting the sacred teat. For a mere $XXX, you get all the wonderful things you've come to expect from a tournament (two days of fun in the sun, food, water, plus free showers if it rains). We also have space to house a few teams, which will be allotted on a first-come first-serve basis.</p>

	<h3>The Basics</h3>
	<ul>
		<li>November 1-2, 2014</li>
		<li>Two days of ultimate + food and water + free windmills</li>
		<li>Housing/camping available if you let us know asap</li>
		<li>RPI Campus, Troy, NY 12180</li>
		<li>$XXX per team</li>
		<li>Send checks to Charles Mehrotra (Contact info <a href="">here</a>)
</li>
	</ul>
</div>
</div>