<div class="row home-view">
<div class="small-12">
	<div class="text-section">
		<h3>Who We Are</h3>
		<p>Trudge is RPI's one and only men's ultimate team. We have been around since sometime before 1975, right around the time ultimate was just a little baby. Its now 2014 and, according to dog years, ultimate is a teenager. Join us in helping ultimate enjoy "the best years of its life" and maybe you'll have a chance to re-live your youth while you're at it.</p>
		<p>We are constantly searching for athletic people to play some competitive ultimate on our A and B teams. If you don't know what ultimate is all about, come out to some of the <a href="">practices</a>. We travel all around the Capital District and attend weekend tournaments throughout the Northeast to compete with other colleges such as Clarkson, Binghamtom, Albany, Union, Ithaca, and Geneseo, just to name a few. Check out our <a href="">schedule</a> for upcoming tournaments, so you don't miss out on any of our goodness.
		</p>
	</div>
	<div class="text-section">
		<h3>Interested Students</h3>
		<p>Feel free to <a href="">contact us</a> with any questions you have about the sport, our team, or the meaning of life. Also check out our <a href="https://www.facebook.com/pages/RPI-Trudge-Ultimate/150465975037160">Facebook</a> page for pictures, videos, and random people talking about us!
		</p>
	</div>
	<div class="text-section">
		<h3>Prospective Players</h3>
		<p>Interested in the team? Let us know when you'll be on campus, and we'll arrange for you to meet some of the team and come to one of our practices.</p>
		<p>We're also happy to answer your questions over email, whether about ultimate or life at RPI in general. Contact: <a href="mailto:rpiultimate@gmail.com">rpiultimate@gmail.com</a></p>
	<div class="text-section">
		<h3>Interesting People</h3>
		<p>Just come and hang out, we are just as weird as you are.</p>
	</div>
	<div class="text-section">
		<h3>Alumni Mailing List / Google Group</h3>
		<p>The Alumni Google Group and Mailing List can be found <a href="https://groups.google.com/forum/?hl=en#!forum/trudge-alumni">here</a>.</p>
	</div>
</div>
</div>
