<div class="row">
<div class="small-12">
    <h2>Schedule and Results</h2>
    <a href="http://scores.usaultimate.org/scores/#college-open/team/2053">Trudge A Team USA Ultimate Score Reporter Page</a>
    <ul class="accordion" data-accordion>
        <li class="accordion-navigation">
            <a href="#panel1">Fall 2013 Season</a>
            <div id="panel1" class="content active">
                <table class="display records-table">
                    <thead>
                        <tr>
                            <th>Dates</th>
                            <th>Tournament</th>
                            <th>Location</th>
                            <th>Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9.7-9.8</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>9.14-9.15</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.19-10.20</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.26-10.27</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Overall Score</th>
                            <th></th>
                            <th>7-4</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel2">Spring 2013 Season</a>
          <div id="panel2" class="content">
            <table class="display records-table">
                    <thead>
                        <tr>
                            <th>Dates</th>
                            <th>Tournament</th>
                            <th>Location</th>
                            <th>Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9.7-9.8</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>9.14-9.15</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.19-10.20</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.26-10.27</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Overall Score</th>
                            <th></th>
                            <th>7-4</th>
                        </tr>
                    </tfoot>
                </table>
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel3">Fall 2011 Season</a>
          <div id="panel3" class="content">
            <table class="display records-table">
                    <thead>
                        <tr>
                            <th>Dates</th>
                            <th>Tournament</th>
                            <th>Location</th>
                            <th>Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9.7-9.8</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>9.14-9.15</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.19-10.20</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.26-10.27</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Overall Score</th>
                            <th></th>
                            <th>7-4</th>
                        </tr>
                    </tfoot>
                </table>
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel4">Spring 2011 Season</a>
          <div id="panel4" class="content">
            <table class="display records-table">
                    <thead>
                        <tr>
                            <th>Dates</th>
                            <th>Tournament</th>
                            <th>Location</th>
                            <th>Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9.7-9.8</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>9.14-9.15</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.19-10.20</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.26-10.27</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Overall Score</th>
                            <th></th>
                            <th>7-4</th>
                        </tr>
                    </tfoot>
                </table>
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel5">Fall 2010 Season</a>
          <div id="panel5" class="content">
            <table class="display records-table">
                    <thead>
                        <tr>
                            <th>Dates</th>
                            <th>Tournament</th>
                            <th>Location</th>
                            <th>Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9.7-9.8</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>9.14-9.15</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.19-10.20</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.26-10.27</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Overall Score</th>
                            <th></th>
                            <th>7-4</th>
                        </tr>
                    </tfoot>
                </table>
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel6">Spring 2010 Season</a>
          <div id="panel6" class="content">
            <table class="display records-table">
                    <thead>
                        <tr>
                            <th>Dates</th>
                            <th>Tournament</th>
                            <th>Location</th>
                            <th>Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9.7-9.8</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>9.14-9.15</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.19-10.20</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.26-10.27</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Overall Score</th>
                            <th></th>
                            <th>7-4</th>
                        </tr>
                    </tfoot>
                </table>
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel7">Fall 2009 Season</a>
          <div id="panel7" class="content">
            <table class="display records-table">
                    <thead>
                        <tr>
                            <th>Dates</th>
                            <th>Tournament</th>
                            <th>Location</th>
                            <th>Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9.7-9.8</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>9.14-9.15</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.19-10.20</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.26-10.27</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Overall Score</th>
                            <th></th>
                            <th>7-4</th>
                        </tr>
                    </tfoot>
                </table>
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel8">Spring 2009 Season</a>
          <div id="panel8" class="content">
            <table class="display records-table">
                    <thead>
                        <tr>
                            <th>Dates</th>
                            <th>Tournament</th>
                            <th>Location</th>
                            <th>Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9.7-9.8</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>9.14-9.15</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.19-10.20</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.26-10.27</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Overall Score</th>
                            <th></th>
                            <th>7-4</th>
                        </tr>
                    </tfoot>
                </table>
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel9">Fall 2008 Season</a>
          <div id="panel9" class="content">
            <table class="display records-table">
                    <thead>
                        <tr>
                            <th>Dates</th>
                            <th>Tournament</th>
                            <th>Location</th>
                            <th>Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9.7-9.8</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>9.14-9.15</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.19-10.20</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.26-10.27</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Overall Score</th>
                            <th></th>
                            <th>7-4</th>
                        </tr>
                    </tfoot>
                </table>
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel10">Spring 2008 Season</a>
          <div id="panel10" class="content">
            <table class="display records-table">
                    <thead>
                        <tr>
                            <th>Dates</th>
                            <th>Tournament</th>
                            <th>Location</th>
                            <th>Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9.7-9.8</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>9.14-9.15</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.19-10.20</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.26-10.27</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Overall Score</th>
                            <th></th>
                            <th>7-4</th>
                        </tr>
                    </tfoot>
                </table>
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel11">Fall 2007 Season</a>
          <div id="panel11" class="content">
            <table class="display records-table">
                    <thead>
                        <tr>
                            <th>Dates</th>
                            <th>Tournament</th>
                            <th>Location</th>
                            <th>Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9.7-9.8</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>9.14-9.15</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.19-10.20</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.26-10.27</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Overall Score</th>
                            <th></th>
                            <th>7-4</th>
                        </tr>
                    </tfoot>
                </table>
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel12">Spring 2007 Season</a>
          <div id="panel12" class="content">
            <table class="display records-table">
                    <thead>
                        <tr>
                            <th>Dates</th>
                            <th>Tournament</th>
                            <th>Location</th>
                            <th>Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9.7-9.8</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>9.14-9.15</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.19-10.20</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.26-10.27</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Overall Score</th>
                            <th></th>
                            <th>7-4</th>
                        </tr>
                    </tfoot>
                </table>
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel13">Fall 2006 Season</a>
          <div id="panel13" class="content">
            <table class="display records-table">
                    <thead>
                        <tr>
                            <th>Dates</th>
                            <th>Tournament</th>
                            <th>Location</th>
                            <th>Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9.7-9.8</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>9.14-9.15</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.19-10.20</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.26-10.27</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Overall Score</th>
                            <th></th>
                            <th>7-4</th>
                        </tr>
                    </tfoot>
                </table>
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel14">Spring 2006 Season</a>
          <div id="panel14" class="content">
            <table class="display records-table">
                    <thead>
                        <tr>
                            <th>Dates</th>
                            <th>Tournament</th>
                            <th>Location</th>
                            <th>Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9.7-9.8</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>9.14-9.15</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.19-10.20</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.26-10.27</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Overall Score</th>
                            <th></th>
                            <th>7-4</th>
                        </tr>
                    </tfoot>
                </table>
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel15">Fall 2005 Season</a>
          <div id="panel15" class="content">
            <table class="display records-table">
                    <thead>
                        <tr>
                            <th>Dates</th>
                            <th>Tournament</th>
                            <th>Location</th>
                            <th>Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9.7-9.8</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>9.14-9.15</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.19-10.20</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                        <tr>
                            <td>10.26-10.27</td>
                            <td>Head of The Pig</td>
                            <td>Potsdam, NY (Clarkson)</td>
                            <td>#-#</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Overall Score</th>
                            <th></th>
                            <th>7-4</th>
                        </tr>
                    </tfoot>
                </table>
          </div>
        </li>
    </ul>

</div>
</div>